.home-container {
  display: flex;
  flex-direction: column;
  background-image: url(Img/runeterra-full2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
